// reset style for all pages
*{
    padding: 0;
    margin:0;
    box-sizing: border-box;
    direction: rtl;
    background-color:rgb(182, 182, 182);
    font-family: Helvetica ,Arial, sans-serif;
}
ul{
    list-style-type: none;
}

//variables 
$primeColor:#1947BA;
$secondColor:#FFB547;
$toggleColor:rgb(126, 112, 202);
$navHight:3.5rem;

//mixin
@mixin transition-ease{
    transition:all 0.5s ease-in-out;
}
