// reset style for all pages
*{
    padding: 0;
    margin:0;
    box-sizing: border-box;
    direction: ltr;
}
body{
    font-family: "Montserrat", Arial, sans-serif;
    letter-spacing: -1px;
}

@media (max-width: 768px) { 
    html{
        font-size:14px;
    }
 } 
ul{
    list-style-type: none;
}
a{
    text-decoration: none;
}

//variables 
$primeColor:#1947BA;
$secondColor:#FFB547;
$toggleColor:rgb(126, 112, 202);
$navHight:5.5rem;

//mixin
@mixin transition-ease{
    -webkit-transition:all 0.5s ease-in-out;
    -moz-transition:all 0.5s ease-in-out;
    -ms-ransition:all 0.5s ease-in-out;
    transition:all 0.5s ease-in-out;
}
@mixin transition-long{
    -webkit-transition:all 1s ease-in-out;
    -moz-transition:all 1s ease-in-out;
    -ms-ransition:all 1s ease-in-out;
    transition:all 1s ease-in-out;
}
